main {
	&:not(.at-home) {
		background-image: none !important;
	}

	&.at-home {
		background-attachment: fixed;
		background-position: center;
		background-size: cover;

		h1 {
			color: white !important;
		}

		p.text-muted {
			color: white !important;
		}
	}
}